<!DOCTYPE html>
<head>
    <title>Patient Search and Match</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Patient Search and Match System</h1>
<p>By Vladimir, Tyson and Ryan</p>
<div class="tab">
        <button class="tablinks">Add</button>
        <button class="tablinks">Find</button>        
        <button id="btn-list-all" class="tablinks">List</button> 	
		<button class="tablinks">Search</button>   
      </div>
	  
	  <div id="add-patient-tab" class="tabcontent">
	  <h2> Fill out the information below to add a patient </h2>
	  <p class="des"> A * means than this field is required </p>
        <form>
            <div class="column">
                <label for="add-id">ID*</label>
                <input type="text" id="add-id">
                <label for="add-bday">Date of Birth*</label>
                <input type="text" id="add-bday">
                <label for="add-dday">Date of Death</label>
                <input type="text" id="add-dday">
                <label for="add-ssn">SSN*</label>
                <input type="text" id="add-ssn">
                <label for="add-drivers">Drivers License Number</label>
                <input type="text" id="add-drivers">
                <label for="add-passport">Passport Number</label>
                <input type="text" id="add-passport">
            </div>
            <div class="column">
                <label for="add-prefix">Prefix</label>
                <input type="text" id="add-prefix">
                <label for="add-first">Given Name(s)*</label>
                <input type="text" id="add-first">
                <label for="add-last">Surname*</label>
                <input type="text" id="add-last">
                <label for="add-Suffix">Suffix</label>
                <input type="text" id="add-suffix">
                <label for="add-maiden">Maiden Name</label>
                <input type="text" id="add-maiden">
                <label for="add-marital">Marital Status</label><br>
                <select id="add-marital" name="add-marital">
			<option value="Married">Married</option>
			<option value="Never married">Never married</option>
			<option value="Divorced">Divorced</option>
			<option value="Widowed">Widowed</option>
		  </select><br>
            </div>
            <div class="column">
                <label for="add-race">Race*</label>
                <input type="text" id="add-race">
                <label for="add-ethnicity">Ethnicity*</label>
                <input type="text" id="add-ethnicity">
                <label for="add-gender">Sex*</label><br>
                <select id="add-gender" name="add-gender">
			<option value="M">Male</option>
			<option value="F">Female</option>
		  </select><br>
                <label for="add-birthplace">Place of Birth*</label>
                <input type="text" id="add-birthplace">
                <label for="add-address">Address*</label>
                <input type="text" id="add-address">
                <label for="add-city">City/Town*</label>
                <input type="text" id="add-city">
            </div>
            <div class="column">
                <label for="add-state">State/Province*</label>
                <input type="text" id="add-state">
                <label for="add-county">County/Region*</label>
                <input type="text" id="add-county">
                <label for="add-zip">Postal Code*</label>
                <input type="text" id="add-zip">
                <label for="add-lat">Latitude</label>
                <input type="text" id="add-lat">
                <label for="add-lon">Longitude</label>
                <input type="text" id="add-lon">
                <label for="add-healthExpense">Health Expenses</label>
                <input type="text" id="add-healthExpense">
                <label for="add-healthCoverage">Health Coverage</label>
                <input type="text" id="add-healthCoverage">
            
            <div class="button">
                <button id="add-patient-btn">Add</button>
                <output id="add-out"></output>
            </div>   </div>         
        </form>
      </div>
	  <div id="list-patients" class="tabcontent"></div>

      <div id="find-patient" class="tabcontent">
	  <h2> Enter an ID to see information for the associated patient </h2>
        <form>
            <label for="find-id">Patient ID</label>
            <input type="text" id="find-id-search">
            <div>
                <button id="btn-find-patient">Find</button>
                <output id="find-out"></output>
            </div>
        </form>
        <hr>
        <h2>Patient information</h2>
        <div class="flex-container">  
            <form>         
                <div class="column">
                    <label for="find-id">ID</label>
                    <input type="text" id="find-id">
                    <label for="find-bday">Date of Birth</label>
                    <input type="text" id="find-bday">
                    <label for="find-dday">Date of Death</label>
                    <input type="text" id="find-dday">
                    <label for="find-ssn">SSN</label>
                    <input type="text" id="find-ssn">
                    <label for="find-drivers">Drivers License Number</label>
                    <input type="text" id="find-drivers">
                    <label for="find-passport">Passport Number</label>
                    <input type="text" id="find-passport">
                </div>
                <div class="column">
                    <label for="find-prefix">Prefix</label>
                    <input type="text" id="find-prefix">
                    <label for="find-first">First Name</label>
                    <input type="text" id="find-first">
                    <label for="find-last">Last Name</label>
                    <input type="text" id="find-last">
                    <label for="find-Suffix">Suffix</label>
                    <input type="text" id="find-suffix">
                    <label for="find-maiden">Maiden Name</label>
                    <input type="text" id="find-maiden">
                    <label for="find-marital">Marital Status</label>
                    <input type="text" id="find-marital">
                </div>
                <div class="column">
                    <label for="find-race">Race</label>
                    <input type="text" id="find-race">
                    <label for="find-ethnicity">Ethnicity</label>
                    <input type="text" id="find-ethnicity">
                    <label for="find-gender">Gender</label>
                    <input type="text" id="find-gender">
                    <label for="find-birthplace">Place of Birth</label>
                    <input type="text" id="find-birthplace">
                    <label for="find-address">Address</label>
                    <input type="text" id="find-address">
                    <label for="find-city">City</label>
                    <input type="text" id="find-city">
                </div>
                <div class="column">
                    <label for="find-state">State</label>
                    <input type="text" id="find-state">
                    <label for="find-county">County</label>
                    <input type="text" id="find-county">
                    <label for="find-zip">ZIP</label>
                    <input type="text" id="find-zip">
                    <label for="find-lat">Latitude</label>
                    <input type="text" id="find-lat">
                    <label for="find-lon">Longitude</label>
                    <input type="text" id="find-lon">
                    <label for="find-healthExpense">Health Expenses</label>
                    <input type="text" id="find-healthExpense">
                    <label for="find-healthCoverage">Health Coverage</label>
                    <input type="text" id="find-healthCoverage">
                </div>
                <div class="button">
                    <button id="btn-update-patient">Update</button>
                    <button id="btn-delete-patient">Delete</button>
                    <output id="update-delete-out"></output>
                </div>
            </form> 
        </div>                  
      </div> 
    <div id="search-patient" class="tabcontent">
        <h2>Enter a symptom to list patients with that specific symptom</h2>
        <form>
            <div class="column">
                <label for="search-symptom">Symptom</label>
                <input type="text" id="search-symptom">
            </div>
            <div class="button">
                <button id="search-patient-btn">Search Symptom</button>
                <output id="search-out"></output>
            </div>
        </form>
        <div id="list-symptoms" class="tabcontent"></div>
    </div>
	<script src="./js/main.js"></script> 
	  <script src="./js/add.js"></script>  
	  <script src="./js/list.js"></script> 
	<script src="./js/find.js"></script> 

</body>
